

/*middle stuff*/

.content {
    background-color:ivory;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    flex:4;
    gap: 8px;
    padding-bottom: 32px;
}

/*the text at the top */

.intro {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 32px;

}

#welcome {
    padding: 8px;
    font-family:'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    max-width: 800px;
}

.intro p {
    padding: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    max-width: 800px;
}

.intro img {
    width: 200px;
    height: auto;
    margin: 8px;
}

img {
    width: auto;
    height: 150px;
}

/*main links */

.homelinks {
    display:flex;
    justify-content: space-around;
    gap: 32px;
    align-content: center;
    padding: 32px 96px;
    background-color: #795D53;
}

.homelinks img {
    border-radius: 25px;
    
    padding: 24px;
    width: 125px;
    height: auto;
}

.homelinks div {
    display:flex;
    flex-direction: column;
    background-color: ivory;
    border-radius: 25px;
    justify-content: space-between;
}

.homelinks div p {
    text-align: center;

}